.menu{
    display: flex;
    align-items: center;
}
.menu-p{
    color:#414141 ;
    font-size: 12px;
}
.menu-p1{
    color: #8F8F8F;
    font-size: 12px;
}
.menu2{
    display: grid;
    grid-template-columns: repeat( 3 , auto);
}
