.search-cards{
  
    top: 80%;
    background-color:white;
    /* display: flex; */
    flex-direction: column;
    gap:8px;
    height: 340px;
    touch-action: auto;
     overflow-y: auto;
     position: absolute;
}

.search-card{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(232, 235, 238);
    border-radius: 8px;
    border: 2px solid #70C05B;
    
}
.search-card_img{
 max-width: 60px;
 height: 20px;
 height: auto;
 width: auto;
 object-fit: contain;
}
.search-card_h1{
    font-size: 16px;
}
.search-card_p{
    font-size: 12px;
}